.post {
  .textarea {
    margin-bottom: 10px;
  }

  .imageSection {
    margin-bottom: 10px;
  }

  .videoSection {
    margin-bottom: 15px;
  }

  .name {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    .create {
      width: 120px;
      height: 30px;
      background-color: steelblue;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
    }
  }
}