.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  .dialog__content {
    margin: auto;
    background-color: white;
    border-radius: 12px;
    min-height: 150px;
    min-width: 200px;
    padding: 20px;
  }
}

